{% extends "base.html" %}

{% block title %} Cupcakes {% endblock %}

{% block content %} 

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Flavor</th>
      <th scope="col">Size</th>
      <th scope="col">Rating</th>
    </tr>
    <!-- added by JS -->
  </thead>
  <tbody id="cupcakes-list">

  </tbody>
</table>

<form id="add-cupcake" action="#">
  <label for="flavor">Flavor</label>
  <input id="flavor" required type="text">

  <label for="size">Size</label>
  <input id="size" required type="text">

  <label for="rating">Rating</label>
  <input id="rating" required type="number">

  <label for="image">Image Url</label>
  <input id="imgUrl" type="url">

  <button>Add Cupcake</button>
</form>

{% endblock %}